<?xml version="1.0" encoding="UTF-8" ?>

<mapper namespace="com.qbd.mapper.StudentMappers">

    <!--Mybaties Cache Setting-->
    <cache type="PERPETUAL" eviction="LRU" flushInterval="60000" size="512" readOnly="true" />
    <cache-ref namespace="com.someone.application.data.SomeMapper"/>

    <insert id="addEmp" parameterType="com.atguigu.mybatis.bean.Employee"
            useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into tbl_employee(last_name,email,gender)
        values(#{lastName},#{email},#{gender})
    </insert>

    <delete
            id="deleteUser"
            parameterType="com.demo.User"
            flushCache="true"
            statementType="PREPARED"
            timeout="20">

    </delete>

    <select id="findbyid" parameterType="Integer" resultMap="StudentResult">
        select *from student where id=#{id}
    </select>

    <select id="findbygradeid" parameterType="Integer" resultMap="StudentResult">
        select *from student where gid=#{gid}
    </select>

    <resultMap type="Student" id="StudentResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <association property="address" column="addid" select="com.qbd.mapper.AddressMappers.findbyid">
        </association>
        <association property="grade" column="gid" select="com.qbd.mapper.GradeMappers.findbyid">
        </association>
    </resultMap>
</mapper>
